<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @consumption.value %>
</p>

<%= link_to 'Edit', edit_consumption_path(@consumption) %> |
<%= link_to 'Back', consumptions_path %>
